
/*header styles*/
.hero {
    background-color: #6a2e35;
    color: #e1aa7d;
    
}

h1 {
    font-weight: 400;
    padding: 20px;
}

/*left side column styles*/
.side-bar {
    background-color: #e1aa7d;
    color: #6A2E35;
    height: 100vh;
}

.city-form {
    background-color: #b6d094;
    color: #6a2e35;
    border-color: #6a2e35;
}
/*city search history*/

/* .cityList a {
    color: #e1aa7d;
    background-color: #6a2e35;
} didnt work */

.card {
    border-color: #6a2e35;
}

/*container that holds weather of the day/uv index*/
/*index color coded styles*/
.low{
    border-radius: 6px;
    background-color: green;
    padding: 5px;
    color: white;
}

.moderate{
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: black;
}

.high{
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: black;
}